main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}

#board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: normal;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gainsboro;
  width: 60px;
  height: 60px;
  font-size: 30px;
  white-space: normal;
}
